@use "variables" as*;
@use "mixins";


.titulo-principal {
  font-size: 2em;
  margin: 40px 0;
}

%boton-base {
  display: inline-block;
  padding: 15px 25px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton {
  @extend %boton-base;
  background-color: #333;
  font-size: 1.1em;
  margin-left: 0;
  margin-right: auto;

  &:hover {
    background-color: #555;
  }
}

.boton-primario {
  @extend %boton-base;
  background-color: #333;

  &:hover {
    background-color: #555;
  }
}

.boton-secundario {
  @extend %boton-base;
  background-color: #666;

  &:hover {
    background-color: #333;
  }
}