@use "variables";
@use "mixins";

.footer-global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
  margin-top: 60px;
  border-top: 1px solid #f0f0f0;
  text-align: center;
}
.footer-global p {
  font-weight: bold;
}
.footer-global .footer-links a {
  display: block;
  margin: 5px 0;
  color: #333;
  text-decoration: none;
}
.footer-global .footer-links a:hover {
  color: #666;
  text-decoration: underline;
}
.footer-global .social-icons {
  display: flex;
  gap: 15px;
}
.footer-global .social-icons img.social {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease-in-out;
}
.footer-global .social-icons img.social:hover {
  animation: vibrate 0.3s infinite alternate;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}


@media (min-width: 768px) {
  footer .contenedor {
    justify-content: space-between;
    flex-direction: row;
  }
  footer .copyright {
    order: 1;
  }
  footer .footer-links {
    order: 2;
  }
  footer .social-icons {
    order: 3;
  }
}
