$color-primario: #333;
$color-fondo: #ffffff;
$color-acento-claro: #f0f0f0;
$color-borde: #ccc;
$color-gris-1: #555;
$color-secundario-3: #ddd;
$color-gris-2: #666;


/*Font*/
$fuente-principal: 'Roboto Condensed', sans-serif;

$ancho-maximo: 1200px;
$radio-borde: 8px;
