@use "variables" as*;
@use "base" ;
@use "header-nav" ;
@use "cont-comp" ;
@use "footer" ;
@use "paginas" ;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ============================ RESPONSIVE ============================ */
@media (max-width: 900px) {
  .testimonios-videos {
    flex-direction: column;
    align-items: center;
  }

  .video-box {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .servicios-container {
    flex-direction: column;
  }

  .servicio-card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header .contenedor {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    width: auto;
  }

  footer .contenedor {
    justify-content: space-between;
    flex-direction: row;
  }

  footer .copyright {
    order: 1;
  }

  footer .footer-links {
    order: 2;
  }

  footer .social-icons {
    order: 3;
  }

  .pagina-home main {
    flex-direction: row;
  }

  .pagina-home main > section,
  .pagina-nosotros main > section {
    flex: 1;
  }

  .pagina-nosotros main {
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
  }

  .equipo-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .servicios-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .servicio-card {
    flex-basis: 300px;
    flex-grow: 1;
  }

  .pagina-testimonios section {
    flex-basis: 45%;
  }

  .pagina-contacto main {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }

  .contact-form-container {
    flex: 1.5;
  }

  .contact-info {
    flex: 1;
  }

  .form-row {
    flex-direction: row;
    gap: 30px;
  }
}
